@using FilesExplorer.Models

@{
    var nodes = DirectoryNodes.GetChildren(@"d:\Games");

 /*   foreach (var node in nodes)
    {
        <p>name= @node.Name + path= + @node.Path</p>

        foreach (var node in node)
        {
            <p>name= @directoryNode.Name + path= + @directoryNode.Path</p>

            foreach (var fileNode in directoryNode.Nodes)
            {
                <p>name= @fileNode.Name + path= + @fileNode.Path</p>
            }
        }
    }*/
}